* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(36, 144, 144);
}

.form__register {
  width: 400px;
  padding: 30px;
  margin: auto;
  margin-top: 100px;
  background-color: cadetblue;
  border-radius: 10px;
  color: antiquewhite;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-shadow: 7px 13px 37px #000;
}

.form__register legend {
  font-size: 22px;
  margin-bottom: 20px;
}

.controls {
  width: 100%;
  background-color: burlywood;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 5px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

.form__register legend {
  text-align: center;
  font-size: 28px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.form__register p {
  height: 40px;
  text-align: center;
  font-size: 18px;
  line-height: 40px;
}

.form__register a {
  text-decoration: none;
}

.form__register a:hover {
  text-decoration: underline;
}

.form__register .bottom {
  width: 100%;
  background-color: burlywood;
  border: none;
  padding: 12px;
  margin: 16px 0;
  font-size: 16px;
}

.inicio {
  border-radius: 5px;
  background-color: coral;
  border: 2px cornflowerblue solid;
  margin: 10px;
  padding: 9px;
  text-decoration: none;
  color: white;
  position: fixed;
  right: 10px;
  bottom: 10px;
}
